server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: employeeModule
          uri: lb://WEB1
          predicates:
            - Path=/service1/**
        - id: consumerModule
          uri: lb://WEB2
          predicates:
            - Path=/service2/**